.page-content {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mdl-layout__header-row {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.menu-link {
    color: black;
    text-decoration: none;
}

img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 16px;
}

.mdl-button {
    width: 32px !important;
    margin-left: 16px !important;
}

.color-gray {
    color: rgba(0, 0, 0, 0.26)
}

.color-black {
    color: black;
}

.color-red {
    color: rgba(255, 0, 0, 0.671);
}

.chat {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    margin-left: 16px;
    width: calc(100% - 32px);
}

.chat-section {
    background-color: rgba(204, 204, 204, 0.267);
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.main-user {
    display: flex;
    justify-content: flex-start;
}

.otheruser {
    display: flex;
    justify-content: flex-end;
}

.mdl-button {
    margin-left: 20px;
    width: 80px;
}

.container-chat {
    height: 600px;
    width: 500px;
    border: 1px solid rgba(0, 0, 0, 0.397);
    box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.login-container {
    width: 280px;
    display: flex;
    justify-content: flex-end;
}

.header-login {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.container {
    width: 400px;
    height: 450px;
    box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.36);
    border-radius: 8px;
}

input {
    height: 25px;
    width: 180px;
    margin-bottom: 15px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
}

.login-field {
    margin-top: 30px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    font-size: larger;
}

a:hover {
    color: rgb(255, 130, 172);
}

.container-register {
    height: 80px;
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.register-field {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}