.page-content {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mdl-layout__header-row {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.mdl-button {
    width: 32px !important;
    margin-left: 16px !important;
}

.addJson {
    width: 400px;
    margin-top: 80px;
    background-color: rgba(204, 204, 204, 0);
    border: 1px solid black;
    box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

select {
    width: 190px;
    height: 25px;
}

.container-style {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-left: 40px;
    margin-right: 40px;
}

.mdl-button {
    margin-left: 20px;
    width: 80px;
}

.login-container {
    width: 280px;
    display: flex;
    justify-content: flex-end;
}

.header-login {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

input {
    height: 25px;
    width: 180px;
    margin-bottom: 15px;
}

button {
    margin-top: 16px;
    margin-bottom: 32px;
    width: 100px;
    height: 30px;
}

.login-field {
    margin-top: 30px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.link-register {
    font-size: larger !important;
    color: white !important;
    text-decoration: none !important;
}

.link-register:hover {
    color: rgb(255, 130, 172) !important;
}

.message {
    color: red !important;
    font-size: large !important;
}

.fullJson {
    color: black;
}

.container {
    width: 400px !important;
    height: 450px !important;
    box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.36) !important;
    border-radius: 8px !important;
}

.container-register {
    height: 80px;
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.register-field {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}