{% extends "base.html" %} {% block content %}
<form method="POST" action="/login/">
    <div class="container">
        <header class="mdl-layout__header header-login">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">
                        Login
                    </span>
            </div>
        </header>
        <input type="hidden" name="redirect" value="{{ redirect }}">
        <div class="login-field">
            {% csrf_token %}
            <div class="register-field">Username: <input name="username" type="text" placeholder=" Username" id="usernameJson"></div>
            <div class="register-field">Password: <input name="password" type="password" placeholder=" Password"></div>
            <div class="login-container"><button>Login</button></div>
        </div>
        {% if wrongPassword and wrongUsername %}
        <div class="container-register">
            <p>Username or Password not exists!</p>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}