{% extends "base.html" %} {% block content %} {% if request.user.is_authenticated %}
<form onsubmit="sendMessage(); return false;" method="POST">
    {% csrf_token %}
    <a class="fullJson" href="tasks/">Show full JSON</a>
</form>

<div class="addJson">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="container-style">
            Text
            <input type="text" name="textvalue">
        </div>
        <div class="container-style">
            Datum
            <input onsubmit="taskDate();" id="newdate" type="date" name="datevalue"></div>
        <div class="container-style">
            Beschreibung
            <input type="text" name="description"></div>
        <div class="container-style">
            Auswahl
            <select name="category" id="category-field">
            <option value="Todo">Todo</option>
            <option value="Today">Today</option>
            <option value="In progress">In progress</option>
            <option value="Done">Done</option>
        </select>
        </div>
        <button class="btn-add">Erstellen</button>
    </form>
</div>
{% endif %} {% endblock %}